<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Buscar Palestrantes</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style_listar_palestrantes.css') }}">

</head>
<body>
    <canvas id="canvas-bg"></canvas>
    <div class="container">
      <div class="header">
        <h1> Palestrantes Disponíveis  </h1> 
    <a href="{{ url_for('login_instituicao.painel_instituicao') }}" class="btn-voltar">← Voltar ao Painel</a>
</div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if palestrantes %}
        <div  class="grid-usuarios">
            {% for palestrante in palestrantes %}
                <div class="card-usuario">
                    <h3>{{ palestrante.nome_completo }}</h3>
                    <div class="info-container">
                    <div class="info-item">
                        <strong>Ramo:</strong> {{ palestrante.ramo_atividade }}
                    </div>
                    <div class="info-item">
                        <strong>Experiência:</strong> {{ palestrante.anos_experiencia }} anos
                    </div>
                    <div class="info-item ">
                        <strong>Email:</strong> {{ palestrante.email }}
                    </div>
                    <div class="info-item">
                    <strong>Telefone:</strong> 
                    <span>{{ palestrante.telefone | ms_telefone }}</span>
                    </div>
                </div>
                    <a href="{{ url_for('gerenciar_solicitacoes.perfil_palestrante', palestrante_id=palestrante.id) }}" class="btn-perfil btn-perfil-inst">
                        Ver Perfil e Disponibilidades
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="empty-message">
            <p style="color: #888;">Nenhum palestrante cadastrado no momento.</p>
        </div>
    {% endif %}
</div>
</div>
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
</body>
</html>