<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Instituição</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>

    <canvas id="canvas-bg"></canvas>
    <div class="login-container">
        <div class="header-intro">
        <h1>Acesso institucional</h2>
        <p> Conecte-se para gerenciar seus eventos</p>   
        </div>
        <div class="card-login">
            <div class="card-icon">
                <i data-lucide="building-2"></i>
                </div>

        {% if mensagem_erro %}
            <div class="erro">{{ mensagem_erro }}</div>
        {% endif %}

        <form method="POST">
            <div class="input-group">
            <label for="cnpj">CNPJ:</label>
            <input type="text" name="cnpj" id="cnpj" maxlength="14" required placeholder="Digite seu CNPJ">
            </div>

            <div class="input-group">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required placeholder="Digite sua senha">
            </div>

            <button type="submit" class="btn-entrar" >Entrar</button>
            </a>
        </form>

        <div class="login-footer">
        <p>Não tem uma conta? <a href="{{ url_for('instituicao.cadastro_instituicao') }}" class="signup-link">Cadastre-se aqui</a></p>
        </div>

        <a href="{{ url_for('login_instituicao.esqueci_senha_instituicao') }}" class="link-esqueceu">Esqueceu a senha?</a>
    </div>
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
    <script>lucide.createIcons();</script>
</body>
</html>
