<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_solicitacoes_da_instituicao.css') }}">
    <title>Minhas Solicitações</title>
    <script src="https://unpkg.com/lucide@latest"></script>

       
    </head>
<body>
    <canvas id="canvas-bg"></canvas>

    <a href="{{ url_for('login_instituicao.painel_instituicao') }}" class="btn-voltar">
        <i data-lucide="arrow-left"></i> Voltar ao Painel
    </a>


   <div class="container"> <h1>Minhas Solicitações de Palestras</h1>
    <div class="section">
    {% if solicitacoes %}
        <table class="tabela-historico">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Palestrante</th>
                    <th>Data Proposta</th>
                    <th>Horário</th>
                    <th>Status</th>
                    <th>Prazo para resposta</th>
                    <th>Criada Em</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitacao in solicitacoes %}
                <tr>
                    <td>{{ solicitacao.id }}</td>
                    <td>{{ solicitacao.titulo }}</td>
                    <td>{{ solicitacao.nome_completo }}</td> 
                    <td>{{ solicitacao.data_proposta.strftime('%d/%m/%Y') }}</td>
                    <td>{{ solicitacao.horario_proposta }}</td>
                    <td><span class="status status-{{ solicitacao.status }}">{{ solicitacao.status|upper }}</span></td>
                    <td>
                            {% if solicitacao.prazo_expiracao %}
                            {{ solicitacao.prazo_expiracao.strftime('%d/%m/%Y') }}
                            {% else %}
                             -
                            {% endif %}
                        </td>
                    <td>{{ solicitacao.criada_em.strftime('%d/%m/%Y') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Você não enviou nenhuma solicitação de palestra ainda.</p>
    {% endif %}
    <p><a href="{{ url_for('login_instituicao.painel_instituicao') }}" class="btn-voltar">Voltar ao Painel</a></p>
   </div>
   </div>
      <script>lucide.createIcons();</script>
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
</body>
</html>