<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Painel Palestrante</title>
</head>
<body>
    <h2>Bem-vindo, Palestrante {{ usuario['nome_completo'] }}</h2>

    <a href="{{ url_for('login_palestrante.logout_palestrante') }}">Sair</a>
    <li><a href="{{ url_for('gerenciar_disponibilidades.listar_disponibilidades') }}">Minhas Disponibilidades</a></li>
    <li><a href="{{ url_for('gerenciar_solicitacoes.solicitacoes_recebidas') }}">Solicitações Recebidas</a></li>
    <li><a href="{{ url_for('gerenciar_palestras.minhas_palestras') }}">Minhas Palestras</a></li>
    <li><a href="{{ url_for('palestrante.editar_perfil_palestrante') }}">Editar Perfil</a></li>
    <a href="{{ url_for('feed.feed') }}">📸 Feed</a>
    <a href="{{ url_for('feed.explorar') }}">🔍 Explorar Instituições</a>
    <a href="{{ url_for('chamados.meus_chamados') }}">🚨 Meus Chamados</a>
    <a href="{{ url_for('feed.meu_perfil_pal') }}">👤 Meu Perfil</a>
</body>
</html>
